<?xml version='1.0' encoding='utf-8'?>
<widget id="uk.me.timhunt.pigstimer" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Pigs timer</name>
    <description>
        This app reverses direction at random times, with an audible alarm. For use when playing games.
    </description>
    <author email="T.J.Hunt@open.ac.uk" href="https://github.com/timhunt">
        Tim Hunt
    </author>
    <content src="index.html" />
    <preference name="BackgroundColor" value="0xfff4ffff" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="SuppressesLongPressGesture" value="true" />
    <platform name="ios">
        <icon height="180" src="files/ios/icon-60@3x.png" width="180" />
        <icon height="60" src="files/ios/icon-60.png" width="60" />
        <icon height="120" src="files/ios/icon-60@2x.png" width="120" />
        <icon height="76" src="files/ios/icon-76.png" width="76" />
        <icon height="152" src="files/ios/icon-76@2x.png" width="152" />
        <icon height="40" src="files/ios/icon-40.png" width="40" />
        <icon height="80" src="files/ios/icon-40@2x.png" width="80" />
        <icon height="57" src="files/ios/icon.png" width="57" />
        <icon height="114" src="files/ios/icon@2x.png" width="114" />
        <icon height="72" src="files/ios/icon-72.png" width="72" />
        <icon height="144" src="files/ios/icon-72@2x.png" width="144" />
        <icon height="167" src="files/ios/icon-167.png" width="167" />
        <icon height="29" src="files/ios/icon-small.png" width="29" />
        <icon height="58" src="files/ios/icon-small@2x.png" width="58" />
        <icon height="87" src="files/ios/icon-small@3x.png" width="87" />
        <icon height="50" src="files/ios/icon-50.png" width="50" />
        <icon height="100" src="files/ios/icon-50@2x.png" width="100" />
        <icon height="167" src="files/ios/icon-83.5@2x.png" width="167" />
    </platform>
    <splash src="files/ios/Default@2x~universal~anyany.png" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-insomnia" spec="~4.3.0" />
    <plugin name="cordova-plugin-splashscreen" spec="~5.0.3" />
</widget>
