<?xml version='1.0' encoding='utf-8'?>
<widget id="uk.me.timhunt.pigstimer" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Pigs timer</name>
    <description>
        This app reverses direction at random times, with an audible alarm. For use when playing games.
    </description>
    <author email="T.J.Hunt@open.ac.uk" href="https://github.com/timhunt">
        Tim Hunt
    </author>
    <content src="index.html" />
    <preference name="BackgroundColor" value="0xfff4ffff" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="SuppressesLongPressGesture" value="true" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-insomnia" spec="~4.3.0" />
</widget>
